.jumbotron {
	background-color: blue;
	color: whitesmoke;
	text-align: center;
}

.cuadro{
	flex: 1 100px;
	padding: 2px 2px 2px 2px;
	margin-top: 10px;
	color: whitesmoke;
	background-image: url(https://cdn.pixabay.com/photo/2014/03/22/17/00/the-background-292720_960_720.png);
}

footer{
	color: white;
	background-image: url(https://cdn.pixabay.com/photo/2021/08/07/14/36/modern-6528732_960_720.png);:
	padding: 10px 10px 0 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
